<h1>Edit interivew</h1>

<form method="post" action="<%=interview_path(@interview.id)%>">

    <% if flash[:errors] %>
        <% flash[:errors].each do |err| %>
        <p class="flash-errors">
            <%= err %>
        </p>
        <% end %>
    <%end %>
    
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="patch">

    <label for="name">Name for the interview or sth you want to identify this with</label>
    <input type="text" id="name" name="name" value="<%= @interview.name %>"><br />

    <p>
        <label for="sdate">Start Date</label>
        <input type="date" id="sdate" name="start_date" value="<%=@interview.start_date%>"><br />
    </p>
    <p>
        <label for="stime">Start Time</label>
        <input type="time" id="etime" name="start_time" value="<%=@interview.start_time.to_s[11..15]%>"><br />
    </p>
    
    <p>
        <label for="etime">End Time</label>
        <input type="time" id="etime" name="end_time" value="<%=@interview.end_time.to_s[11..15]%>"><br />
    </p>

    <% @users.each do |user| %>

    <input type="checkbox" name="interviewers[]" value="<%=user.id%>"
    <% @interviewers.each do |interviewer| %>
        <% if user.id == interviewer.id %>
            checked
        <%end%>
    <%end%>
    >
    
    <input type="radio" name="interviewee" value="<%=user.id%>"
    <% if user.id == @interview.user_id %>
        checked
    <% end %>
    >
    
    <label for="interviewers[<%=user.id%>]"><%=user.name%></label><br>
    <%end%>
    
    
    <p>
        <input type="submit" value="Edit Interview">
    </p>
</form>
